.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.nav-links-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
